:host {
  display: block;
}

main {
  padding-top: 64px; /* Altura del header */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 600px) {
  main {
    padding-top: 56px; /* Altura del header en móvil */
  }
}
